extends layout

block content
	.jumbotron
		.container
			h1 How May I Help You?
			P Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque turpis velit, pharetra vel luctus nec, elementum at arcu. Donec malesuada porttitor tincidunt. Nullam hendrerit dui vitae rhoncus rhoncus. Etiam vitae tellus vel magna imperdiet suscipit vel eu erat. 
			a.btn.btn-primary.btn-lg(href='#') Learn More &raquo
	.container
		.row
			.col-md-4
				h2 About Me
				P Duis maximus magna eget placerat accumsan. Etiam feugiat in risus in consectetur. Mauris vitae nisl sit amet nunc laoreet venenatis sit amet vitae odio
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Services
				P Sed tempus cursus lectus, vitae sagittis magna ultricies nec. Vestibulum placerat magna in metus dapibus, at pharetra lacus sagittis. Pellentesque iaculis, felis quis maximus aliquet, nisi neque malesuada mi, eget eleifend nunc turpis nec turpis. Cras ut pulvinar urna.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Get In Touch
				P Duis vulputate molestie volutpat. Nunc convallis aliquam est. Nam elementum, lorem sed vehicula faucibus, libero nibh consequat lacus, eget ornare dui ipsum vitae lorem.
				a.btn.btn-default(href='#') View Details

